{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:all",
    "preact",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort", "sort-keys-fix"],
  "rules": {
    "simple-import-sort/sort": "error",
    "sort-imports": "off",
    "import/order": "off",
    "sort-keys-fix/sort-keys-fix": "error"
  }
}
